{% extends "base.html" %}

{% block title %}Востребованность{% endblock %}

{% block content %}
    <h2>Средняя заработная плата в России</h2>
    <ul>
        <li>Декабрь 2022 - 52 844 рубля</li>
        <li>Декабрь 2021 - 49 805 рублей</li>
        <li>Декабрь 2020 - 42 198 рублей</li>
        <li>Декабрь 2019 - 42 204 рубля</li>
    </ul>
    <p>Помимо этого системному администратору в своей повседневной работе приходится сталкиваться со многими другими задачами и проблемами, круг которых очертить очень сложно. Поэтому для специалиста очень важно постоянно развиваться, поддерживать свои знания и навыки на актуальном уровне.</p>

{% endblock %}
