{% extends "base.html" %}

{% block title %}Навыки{% endblock %}


{% block content %}
    <h1>Навыки, знания и задачи системного администратора</h1>
    <p>В рамках своей профессиональной деятельности helpdesk administrator должен решать широкий комплекс задач. Для этого он должен обладать необходимыми навыками и знаниями. В частности, для успешного управления информационной инфраструктурой компании, хороший хелпдеск должен владеть такими навыками и знаниями:</p>
    <ul>
        <li>Навыки правильного использования поисковых систем — умение точно и быстро формулировать правильные запросы.</li>
        <li>Хорошее знание GUI операционных систем, используемых в компании. Рекомендуется детально знакомиться с новыми версиями операционок сразу после их выхода, чтобы оперативно и качественно внедрять обновления. (Речь, конечно же, идет в основном о различных версиях Windows.)</li>
        <li>Доскональное владение программным обеспечением, позволяющим получать удаленный доступ к компьютерам. Для этой цели используются такие приложения, как SysAid, RMS, Teamviwer, системный клиент RDP и другие.</li>
        <li>Владение навыками работы с командной строкой. Сисадмин должен хорошо знать все основные команды и уметь их правильно использовать.</li>
        <li>Умение работы со всем основным программным обеспечением, используемым в компании. Сисадмин выполняет задачи по установке и удалению программ, выполнению базовых настроек. В том числе ему приходится регулярно работать с программами Офисного пакета, браузерами, почтовыми клиентами, антивирусным ПО, im-агентом и т. д.</li>
        <li>Умение работать с базовыми оснастками для выполнения настройки операционной системы, в том числе compmgmt, msconfig, services, printmanagment и т. д.</li>
        <li>Умение работы с периферийным оборудованием. От хелпдеска периодически требуется устанавливать и настраивать принтеры, сканеры, клавиатуры, мыши, веб-камеры, акустику, картридеры и другие устройства.</li>
        <li>Навыки и понимание работы с «железом». При работе в компании сисадмину регулярно приходится разбирать и собирать компьютеры, проводить диагностику, выполнять профилактические работы, мелкий ремонт ПК.</li>
    </ul>
    <p>Помимо этого системному администратору в своей повседневной работе приходится сталкиваться со многими другими задачами и проблемами, круг которых очертить очень сложно. Поэтому для специалиста очень важно постоянно развиваться, поддерживать свои знания и навыки на актуальном уровне.</p>

{% endblock %}
